.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  width: 700px;
  height: 1024px;

}

.screen .title {
  position: absolute;
  height: 54px;
  top: 24px;
  left: 380px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.36px;
  line-height: 54px;
  white-space: nowrap;
}

.screen .joinOk .p {
  position: absolute;
  height: 30px;
  top: 45px;
  left: 279px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 30px;
  white-space: nowrap;
}

.screen .joinNot .p {
  position: absolute;
  height: 30px;
  top: 45px;
  left: 279px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 30px;
  white-space: nowrap;
}


.screen .frame {
  align-items: flex-start;
  /* 変更: 子要素を上に揃える */
  gap: 20px;
  /* 要素間の隙間 */
  position: absolute;
  top: 159px;
  left: 438px;
  display: flex;
  flex-direction: column;
  width: 300px;
  /* 縦に配置 */
}


.screen .container-in-a {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
  gap: 10px;
  padding: 0px 0px 12px;
  background-color: var(--white);
  border-radius: 16px;
}

.screen .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 12px 20px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -81px;
}

.screen .div-2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.screen .title-action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .header-base-wrapper {
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
}

.screen .header-base {
  display: grid;
  gap: 15px;
  padding: 12px 5px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  box-shadow: 0 0 8px rgba(233, 235, 237, 1);
  border-radius: 16px;
  margin-top: 13px;
  padding-top: 15px;
  padding-right: 26px;
  padding-left: 26px;
  padding-bottom: 1px;
}

.screen .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-heading-2-font-family);
  font-weight: 600;
  color: var(--grey-900);
  font-size: larger;
  letter-spacing: var(--heading-heading-2-letter-spacing);
  line-height: var(--heading-heading-2-line-height);
  white-space: nowrap;
  font-style: var(--heading-heading-2-font-style);
}

.screen .action-stripe-wrapper {
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  top: -37px;
}

.screen .action-stripe {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.screen .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  /* width: 71px; */
  height: 34px;
  position: relative;
  flex: 0 0 auto;
}

/* .screen .backButton {
  all: unset;
  box-sizing: border-box;
  left: 324px;
  width: 71px;
  height: 34px;
  align-items: center;
  position: relative;
  top: 122px;
  left: 297px;
  display: inline-flex;
  flex: 0 0 auto;
} */

.screen .backButton {
  all: unset;
  box-sizing: border-box;
  justify-content: center;
  /* display: flex; */
  width: 71px;
  height: 34px;
  align-items: center;
  position: relative;
  top: 412px;
  left: 330px;
}



.screen .button-base {
  display: inline-flex;
  /* align-items: center; */
  gap: 8px;
  padding: 6px 22px;
  position: relative;
  flex: 0 0 auto;
  background-color: #033160;
  border-radius: 40px;
  border: 2px solid;
}

.screen .button-base-1 {
  display: inline-flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 8px;
  padding: 6px 22px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
  background-color: var(--blue-200);
  border-radius: 40px;
  border: 2px solid;
  border-color: var(--blue-800);
  top: -15px;
  left: 300px;
}

.screen .button-icon {
  position: relative;
  width: 16px;
  height: 16px;
}

.screen .icon {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 1px;
  left: 1px;
}

.screen .button-text {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Open Sans", Helvetica;
  font-weight: 800;
  color: var(--white);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.screen .button-text-1 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Open Sans", Helvetica;
  font-weight: 800;
  color: var(--blue-800);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.screen .description {
  position: relative;
  align-self: stretch;
  margin-top: -40px;
  font-family: var(--body-paragraph-regular-font-family);
  font-weight: var(--body-paragraph-regular-font-weight);
  color: var(--grey-600);
  font-size: var(--body-paragraph-regular-font-size);
  letter-spacing: var(--body-paragraph-regular-letter-spacing);
  line-height: var(--body-paragraph-regular-line-height);
  font-style: var(--body-paragraph-regular-font-style);
  word-wrap: break-word;
  /* 長い単語を折り返す */
  overflow-wrap: break-word;
  /* 長い単語を折り返す（word-wrapの新しい標準名） */
  word-break: break-word;
  word-break: normal;
  /* テキストの自動改行 */
  white-space: normal;
  inline-size: 600px;
}

.screen .key-value-pairs {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .button-base-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 71px;
  height: 34px;
  align-items: center;
  position: absolute;
  top: 495px;
  left: 732px;
}

.screen .aaa .button-base-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 22px;
  right: 401px;
  flex: 0 0 auto;
  margin-right: -1px;
  background-color: var(--blue-200);
  border-radius: 40px;
  border: 2px solid;
  border-color: var(--blue-800);
}

.screen .aaa .button-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Open Sans", Helvetica;
  font-weight: 800;
  color: var(--blue-800);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.screen .sidebar {
  position: absolute;
  width: 200px;
  height: 1023px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #e0e0e0;
}

.screen .list {
  width: 240px;
  position: absolute;
  top: 78px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.screen .list-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.screen .menu-item {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.screen .text-wrapper-2 {
  width: 208px;
  height: 24px;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .menu-item-2 {
  background-color: #f7f7f7;
  display: flex;
  height: 40px;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.screen .group {
  position: relative;
  width: 25px;
  height: 22.09px;
}

.screen .text-wrapper-3 {
  flex: 1;
  font-weight: var(--small-text-font-weight);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 1; */
  -webkit-box-orient: vertical;
  position: relative;
  font-family: var(--small-text-font-family);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.screen .menu-item-3 {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
}

.screen .element {
  position: relative;
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.screen .SNS {
  position: relative;
  width: 25px;
  height: 25px;
}

.screen .title-2 {
  position: absolute;
  height: 30px;
  top: 23px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 30px;
  white-space: nowrap;
}

.screen .aaa {
  position: absolute;
  height: 54px;
  top: 24px;
  left: 330px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.36px;
  line-height: 54px;
  white-space: nowrap;
}

.screen .backButton {
  display: flex;
  /* 変更: フレックスボックスを適用 */
  justify-content: center;
  /* 変更: 中央揃え */
  margin-top: 20px;
  /* 変更: ボタンとリストの間にスペースを追加 */
  width: 100%;
  /* 変更: 幅を100%にして中央に配置 */
}