:root {
  --grey-900: rgba(0, 7, 22, 1);
  --grey-550: rgba(95, 107, 122, 1);
  --blue-800: rgba(3, 49, 96, 1);
  --white: rgba(255, 255, 255, 1);
  --blue-200: rgba(211, 231, 249, 1);
  --grey-400: rgba(155, 167, 182, 1);
  --blue-600: rgba(9, 114, 211, 1);
  --grey-200: rgba(233, 235, 237, 1);
  --form-bold-font-family: "Open Sans", Helvetica;
  --form-bold-font-weight: 700;
  --form-bold-font-size: 14px;
  --form-bold-letter-spacing: 0px;
  --form-bold-line-height: 22px;
  --form-bold-font-style: normal;
  --small-text-font-family: "Inter", Helvetica;
  --small-text-font-weight: 500;
  --small-text-font-size: 16px;
  --small-text-letter-spacing: 0px;
  --small-text-line-height: 150%;
  --small-text-font-style: normal;
  --form-optional-font-family: "Open Sans", Helvetica;
  --form-optional-font-weight: 700;
  --form-optional-font-size: 14px;
  --form-optional-letter-spacing: 0px;
  --form-optional-line-height: 22px;
  --form-optional-font-style: italic;
  --form-placeholder-font-family: "Open Sans", Helvetica;
  --form-placeholder-font-weight: 400;
  --form-placeholder-font-size: 14px;
  --form-placeholder-letter-spacing: 0px;
  --form-placeholder-line-height: 22px;
  --form-placeholder-font-style: italic;
  --link-info-link-font-family: "Open Sans", Helvetica;
  --link-info-link-font-weight: 800;
  --link-info-link-font-size: 12px;
  --link-info-link-letter-spacing: 0px;
  --link-info-link-line-height: 16px;
  --link-info-link-font-style: normal;
  --form-secondary-font-family: "Open Sans", Helvetica;
  --form-secondary-font-weight: 400;
  --form-secondary-font-size: 12px;
  --form-secondary-letter-spacing: 0px;
  --form-secondary-line-height: 16px;
  --form-secondary-font-style: normal;
  --form-default-font-family: "Open Sans", Helvetica;
  --form-default-font-weight: 400;
  --form-default-font-size: 14px;
  --form-default-letter-spacing: 0px;
  --form-default-line-height: 22px;
  --form-default-font-style: normal;
  --link-primary-link-font-family: "Open Sans", Helvetica;
  --link-primary-link-font-weight: 400;
  --link-primary-link-font-size: 14px;
  --link-primary-link-letter-spacing: 0px;
  --link-primary-link-line-height: 22px;
  --link-primary-link-font-style: normal;
 }
 
 