.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

/* .screen .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
} */

.screen .div {
  background-color: #ffffff;
  width: 100%; /* 画面幅いっぱいにする */
  max-width: 1440px; /* 最大幅を設定 */
  height: 1024px;
}

.screen .list {
  width: 990px;
  position: absolute;
  top: 101px;
  left: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.screen .message {
  width: 990px;
  position: absolute;
  top: 50px;
  left: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.screen .navbar {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  height: 56px;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.screen .text-wrapper {
  width: 33px;
  color: #828282;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .text-wrapper-clubname {
  width: 200px;
  color: #828282;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .IT {
  width: 200px;
  /* 幅を指定 */
  overflow-y: hidden;
  /* 垂直方向のオーバーフローを自動でスクロール */
  overflow-x: hidden;
  /* 水平方向のオーバーフローを隠す */
  display: -webkit-box;
  /* Flexboxを使用して縦並びに */
  -webkit-line-clamp: 3;
  /* 最大3行まで表示 */
  -webkit-box-orient: vertical;
  /* 縦方向に設定 */
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

}

.screen .text-wrapper-actname {
  width: 99px;
  color: #828282;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .text-wrapper-10 {
  width: 100px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow-y: scroll; /* 縦方向のスクロールを有効にする */
  resize: none; /* サイズ変更を禁止する */
  scrollbar-width: none; /* Firefox用: スクロールバーを非表示にする */
}

.screen .text-wrapper-actday {
  position: relative;
  width: 107px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #828282;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  left: -10px;
}

.screen .text-wrapper-3 {
  position: relative;
  width: 100px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.screen .text-wrapper-4 {
  width: 115px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #828282;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.screen .text-wrapper-actday-time {
  width: 115px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.screen .text-wrapper-5 {
  width: 200px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.screen .text-wrapper-6 {
  width: 160px;
  text-align: center;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #828282;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  left: -49px;
}

.screen .text-wrapper-7 {
  width: 120px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #828282;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  left: -65px;
}

.screen .text-wrapper-8 {
  width: 106px;
  margin-right: -163px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #828282;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  left: 22px;
}

.screen .navbar-2 {
  display: flex;
  height: 96px;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-top-style: solid;
  border-color: #e0e0e0;
  box-sizing: border-box;
}

.screen .text-wrapper-9 {
  width: 34px;
  color: #828282;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .text-wrapper-acttime {
  width: 102px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  display: flex;
  flex-wrap: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.screen .text-wrapper-11 {
  width: 93px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.screen .text-wrapper-12 {
  width: 205px;
  height: 81px;
  color: #000000;
  display: block;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  word-break: break-all;
  overflow-y: scroll; /* 縦方向のスクロールを有効にする */
  resize: none; /* サイズ変更を禁止する */
  scrollbar-width: none; /* Firefox用: スクロールバーを非表示にする */
}

textarea::-webkit-scrollbar {
  display: none; /* スクロールバーを非表示にする */
}

.screen .pill {
  position: relative;
  width: 61px;
  height: 28px;
}

.activity-register-message {
  position: absolute;
  height: 30px;
  top: 45px;
  left: 279px;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 30px;
  white-space: nowrap;
}

.screen .tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 1px 1px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: #e0e0e0;
}

.screen .text-wrapper-13 {
  width: fit-content;
  margin-top: -1px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
}

.screen .div-wrapper {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 8px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #e0e0e0;
}

.screen .overlap {
  position: absolute;
  width: 256px;
  height: 1023px;
  top: 1px;
  left: 0;
}

.screen .sidebar {
  position: absolute;
  width: 200px;
  height: 1023px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #e0e0e0;
}

.screen .overlap-group {
  position: absolute;
  width: 240px;
  height: 216px;
  top: 78px;
  left: 8px;
}

.screen .list-2 {
  width: 240px;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.screen .menu-item {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.screen .text-wrapper-14 {
  width: 208px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
}

.screen .menu-item-2 {
  background-color: #f7f7f7;
  display: flex;
  height: 40px;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.screen .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.screen .text-wrapper-15 {
  flex: 1;
  font-weight: var(--small-text-font-weight);
  font-size: var(--small-text-font-size);
  line-height: var(--small-text-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  position: relative;
  font-family: var(--small-text-font-family);
  color: #000000;
  letter-spacing: var(--small-text-letter-spacing);
  font-style: var(--small-text-font-style);
}

.screen .menu-item-3 {
  background-color: #ffffff;
  display: flex;
  height: 40px;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.screen .text-wrapper-16 {
  top: 6px;
  left: 157px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #fb0707;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.screen .title {
  position: absolute;
  height: 30px;
  top: 23px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 30px;
  white-space: nowrap;
}

.screen .text-wrapper-17 {
  top: 1px;
  left: 165px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #131111;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.screen .list-wrapper {
  width: 240px;
  gap: 4px;
  position: absolute;
  top: 78px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.screen .list-3 {
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.screen .group {
  position: relative;
  width: 25px;
  height: 22.09px;
}

.screen .element {
  position: relative;
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.screen .SNS {
  position: relative;
  width: 25px;
  height: 25px;
}

/* ボタンの基本スタイル */
.pill button {
  background-color: #ffffff;
  /* 背景色を白に設定 */
  color: #000000;
  /* テキスト色を黒に設定（必要に応じて変更） */
  border: none;
  /* ボーダーの色を指定 */
  border-radius: 4px;
  /* ボーダーの角を丸くする（オプション） */
  padding: 6px 10px;
  /* ボタンの内側の余白 */
  font-family: "Open Sans", Helvetica;
  /* フォントの設定 */
  font-weight: 600;
  /* フォントの太さ */
  font-size: 14px;
  /* フォントサイズ */
  cursor: pointer;
  /* カーソルをポインターに変更 */
  transition: background-color 0.3s, color 0.3s;
  /* ホバー時のスムーズな変化 */
}

.text-wrapper-11.red-text {
  color: red !important;
  font-weight: bold !important;
}

.error-message {
  color: red;
  /* エラーメッセージの文字色 */
  font-weight: bold;
  /* 太字にする */
  margin-bottom: 20px;
  /* 下の余白 */
}

.screen.text-clubname {
  width: 200px;
}

.div.list-posision {
  display: flex;
  flex-direction: column;
  /* 縦並びに変更 */
  height: auto;
  /* 高さを自動にする */
  align-items: flex-start;
  /* 左寄せにする */
  gap: 10px;
  /* 各要素の間隔を設定 */
  width: 100%;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}