<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/globals.css}">
  <link rel="stylesheet" th:href="@{/css/styleguide.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div class="sidebar">
    <div class="list">
      <div class="list-2">
        <div class="menu-item">
          <div class="text-wrapper">メニュー</div>
        </div>
        <!-- 部長のみ表示される -->
        <div class="menu-item-3" th:style="*{leaderClubId == null} ? 'background-color: #999999;' : ''">
          <img class="group" src="https://c.animaapp.com/dcFBotWX/img/group@2x.png" />
          <form action="/registerActivity" method="get" class="text-wrapper-2">
            <button type="submit" style="all:unset; cursor:pointer;" th:disabled="*{leaderClubId == null}">活動登録</button>
          </form>
        </div>
        <div class="menu-item-3" th:style="*{leaderClubId == null} ? 'background-color: #999999;' : ''">
          <img class="element" src="https://c.animaapp.com/dcFBotWX/img/----------1-2@2x.png" />
          <form action="/clubInfoRegister" method="get" class="text-wrapper-2">
            <button type="submit" style="all:unset; cursor:pointer;"
              th:disabled="*{leaderClubId == null}">部署情報登録</button>
          </form>
        </div>
        <div class="menu-item-3" th:style="*{leaderClubId == null} ? 'background-color: #999999;' : ''">
          <img class="SNS" src="https://c.animaapp.com/dcFBotWX/img/sns-------4-1.svg" />
          <form action="/joinApproval" method="get" class="text-wrapper-2">
            <button type="submit" style="all:unset; cursor:pointer;"
              th:disabled="*{leaderClubId == null}">部員登録承認</button>
          </form>
        </div>
        <!-- 全員表示される -->
        <div class="menu-item-3">
          <img class="element" src="https://c.animaapp.com/dcFBotWX/img/-----------2@2x.png" />
          <form action="/joinRequest" method="get" class="text-wrapper-2">
            <button type="submit" style="all:unset; cursor:pointer;">部員登録申請</button>
          </form>
        </div>
        <div class="menu-item-3">
          <img class="element" src="/img/logout.svg" />
          <form action="/logout" method="get" class="text-wrapper-2">
            <input type="submit" style="all:unset; cursor:pointer;" value="ログアウト" />
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>