<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/globals.css}">
  <link rel="stylesheet" th:href="@{/css/styleguide.css}">
  <link rel="stylesheet" th:href="@{/css/JoinApproval.css}">
</head>

<body>
  <div class="screen">
    <div class="div">
      <div class="sidebar">
        <div th:replace="header"></div>
        <div class="title">社内イベント管理</div>
      </div>
      <div class="title-2">部員登録承認</div>
      <div class="header-base-2">
        <div class="title-3">
          <div class="label"><span th:text="${clubName}"></span></div>
        </div>
      </div>
      <div th:if="${joinApprovalform == null or #lists.isEmpty(joinApprovalform)}">
        <div class="no-activities-message">
          <p th:text="${message}"></p>
        </div>
      </div>
      <div class="container-posision">
        <div th:each="form : ${joinApprovalform}" class="overlap">
          <div class="container-in-a">
            <div class="wrapper">
              <div class="header">
                <div class="title-action-buttons">
                  <div class="frame">
                    <div class="header-base">
                      <div class="title-3" th:text="${form.userName}"></div>
                    </div>
                  </div>
                  <div class="action-stripe-wrapper">
                    <div class="action-stripe">
                      <form th:action="@{/joinApproval/approval}" method="post">
                        <input type="hidden" name="userId" th:value="${form.userId}" />
                        <input type="hidden" name="clubId" th:value="${form.clubId}" />
                        <input type="hidden" name="leaderFlg" th:value="${form.leaderFlg}" />
                        <button class="button-base-wrapper">
                          <div class="button-base-2">
                            <div class="button-text-2">承認</div>
                          </div>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="key-value-pairs"></div>
              <form th:action="@{/joinApproval/denial}" method="post">
                <input type="hidden" name="userId" th:value="${form.userId}" />
                <input type="hidden" name="clubId" th:value="${form.clubId}" />
                <input type="hidden" name="leaderFlg" th:value="${form.leaderFlg}" />
                <button class="div-wrapper">
                  <div class="button-base-3">
                    <div class="button-text">否認</div>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="back-button">
        <a href="/top" class="button">
          <div class="button-base">
            <div class="button-text">戻る</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

</html>