<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/globals.css}">
  <link rel="stylesheet" th:href="@{/css/styleguide.css}">
  <link rel="stylesheet" th:href="@{/css/top.css}">
</head>

<body>
  <div class="screen">
    <div class="div">
      <!--ヘッダー-->
      <div class="sidebar">
        <div th:replace="header"></div>
        <div class="title">社内イベント管理</div>
      </div>
      <!-- 活動登録成功メッセージの表示 -->
      <div class="activity-register-message" th:if="${activityRegisterCompleteMessage != null}"
        style="color: red; font-size: 20px;">
        <p th:text="${activityRegisterCompleteMessage}"></p>
      </div>
      <div class = "message">
        <div th:if="${errorMessage != null}" class="error-message">
          <p th:text="${errorMessage}"></p>
        </div>
        <div th:if="${#lists.isEmpty(responseForm)}">
          <div th:if="${message != null}" class="no-activities-message">
            <p th:text="${message}"></p>
          </div>
        </div>
      </div>
      <div class="list">
        <!-- エラーメッセージの表示    -->
        <!-- <div th:if="${errorMessage != null}" class="error-message">
          <p th:text="${errorMessage}"></p>a
        </div> -->
        <div class="navbar">
          <div class="text-wrapper-9">No.</div>
          <div class="text-clubname">
            <div class="text-wrapper-clubname">部署名</div>
          </div>
          <div class="text-wrapper-actname">活動名</div>
          <!-- <div class="text-wrapper-actday">活動日</div> -->
          <div class="text-wrapper-4">活動時間</div>
          <div class="text-wrapper-actname">活動場所</div>
          <div class="text-wrapper-6">参加状況</div>
          <div class="text-wrapper-7">活動説明</div>
          <div class="text-wrapper-8">参加ステータス</div>
        </div>
        <!-- メッセージがある場合の表示 -->
        <!-- <div th:if="${#lists.isEmpty(responseForm)}">
          <div th:if="${message != null}" class="no-activities-message">
            <p th:text="${message}"></p>
          </div>
        </div> -->
        <!-- リストがある場合の表示 -->
        <div th:if="${responseForm} != null">
          <div class="list-posision">
            <div class="navbar-2" th:each="actList : ${responseForm}">
              <div class="text-wrapper-9" th:text="${actList.no}"></div>
              <div class="IT" th:text="${actList.clubName}"><br /></div>
              <div class="text-wrapper-10"
                   th:style="'max-height: ' + (${actList.activityName.length() > 5} ? '81px' : 'auto') + '; overflow: ' + (${actList.activityName.length() > 5} ? 'auto' : 'hidden')">
                <a th:href="@{/participantList(activityId=${actList.activityId})}"
                  th:text="${actList.activityName}"></a>
              </div>
              <!-- <div class="text-wrapper-3" th:text="${actList.dispActivityDate}"></div> -->
              <!-- <div class="text-wrapper-acttime"
                th:text="${actList.activityStartTime} + '～'+ ${actList.activityEndTime}">
              </div> -->
              <!-- <div class="text-wrapper-actday-time"
                   th:text="${actList.dispActivityDate} + ' ' + ${actList.activityStartTime} + '～' + ${actList.activityEndTime}">
              </div> -->
              <div class="text-wrapper-actday-time"
                   th:utext="${actList.dispActivityDate} + '&lt;br&gt;' + ${actList.activityStartTime} + '～' + ${actList.activityEndTime}">
              </div>
              <div class="text-wrapper-10" 
                th:text="${actList.activityPlace}"
                th:style="'max-height: ' + (${actList.activityPlace.length() > 10} ? '81px' : 'auto') + '; overflow: ' + (${actList.activityPlace.length() > 10} ? 'auto' : 'hidden')"
                ></div>
              <div class="text-wrapper-11" th:classappend="${actList.isMajorityFlg ? 'red-text' : ''}"
                th:text="${actList.participantsCount} + '/' + ${actList.maxParticipant}"></div>
              <div class="text-wrapper-12"
                th:style="'max-height: ' + (${actList.activityDescription.length() > 45} ? '81px' : 'auto') + '; overflow: ' + (${actList.activityDescription.length() > 45} ? 'auto' : 'hidden')"
                th:text="${actList.activityDescription}"></div>
              <form th:action="@{/top/save}" th:object="${topDataForm}" method="post">
                <input type="hidden" name="activityId" th:value="${actList.activityId}" />
                <input type="hidden" name="userId" th:value="${session.userId}" />
                <input type="hidden" name="clubId" th:value="${actList.clubId}" />
                <div class="pill">
                  <div class="tag">
                    <!-- 参加ボタンと不参加ボタンの制御 -->
                    <div class="text-wrapper-13" th:if="${actList.isParticipationFlg == false}">
                      <button type="submit" name="participationStatus" value="participate">参加</button>
                    </div>
                    <div class="text-wrapper-13" th:if="${actList.isParticipationFlg == true}">
                      <button type="submit" name="participationStatus" value="notParticipate">不参加</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>